.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box{
  height: 200px;
  width: 150px;
  border: 1px solid black;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
.green {
  background-color: green;
}

.box3 {
}

.show {
  display: block;
}
